@media (max-width: 767px) {
    .left_sec > div > h5 > a {
        font-size: 18px !important;
    }

    .left_div h4 {
        margin-top: 30px;
    }

    .pay_loader {
        margin-top: -45px !important;
    }

    #loader-content > div.text_loader > p {
        text-align: center !important;
        color: #fff !important;
        line-height: 25px !important;
        font-weight: 900;
        font-size: 18px;
    }
}

/* Loader for Payment */
#loader-content {
    display: none;
    width: 100%;
}

.pay_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    /* margin: 8px; */
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

#loader-content > div.text_loader > p {
    text-align: center !important;
    color: #fff !important;
    line-height: 25px !important;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
