<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Magazine-aboutacademic</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
       <!--- <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com"></a>
        <i class="bi bi-phone"></i> --->
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
         <a href="#" class="instagram"><img src="assets/img/logo-final-04.png" alt=""></a>
        <a href="#" class="twitter"><img src="assets/img/twitterr.png" alt=""></a>
        <a href="#" class="tiktok"><img src="assets/img/logo-final-06.png" alt=""></a>
        <a href="#" class="youtube"><img src="assets/img/utube.png" alt=""></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html"><img src="assets/img/3QB-Magazine-logo.png" alt=""></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#home">HOME</a></li>
          <li><a class="nav-link scrollto" href="#login">LOGIN</a></li>
          <li><a class="nav-link scrollto" href="#profiles">PROFILES</a></li>
          <li><a class="nav-link scrollto" href="#magazines">MAGAZINES</a></li>
          <li><a class="nav-link scrollto" href="#memberships">MEMBERSHIPS</a></li>
          <li><a class="nav-link scrollto" href="#coaches">COACHES</a></li>
         
          <li><a class="nav-link scrollto" href="#contact">CONTACT</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#signup" class="appointment-btn scrollto"><span class="d-none d-md-inline">FREE SIGN UP</span></a>

    </div>
  </header><!-- End Header -->

  
<!-- ===== Blog --->

        <section id="academic_section" class="about_academics">
        <div class="container">
		 <div class="row">
		  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 left_proiless">
		   <div class="img_box">
		   <a href="#"> <img src="assets/img/player 3.png" alt=""></a>
			<p>About</p>
		   </div>
		   <div class="img_box">
		    <a href="#"><img src="assets/img/football 1.png" alt=""></a>
			<p>Performance</p>
		   </div>
		   <div class="img_box_last">
		    <a href="#"><img src="assets/img/Vector (6).png" alt=""></a>
			<p>Academic</p>
		   </div>
		   <div class="img_box">
		   <a href="#"> <img src="assets/img/Artboard 1 1 (1).png" alt=""></a>
			<p>Media</p>
		   </div>
		  </div>
		  <div class="col-xl-10 col-lg-10 col-md-8 col-sm-12 col-xs-12 about_right">
		  <div class="complete_profile">
		  <h3>Complete your QB Profile</h3>
		  <div class="squad_sec">
		  <span class="squad">Practice Squad</span></div>
		  </div>
		  <form>
		  <div class="top_inputs">
		  <h3 class="featured_photos">Academic Stats</h3>
		  <div class="form-row fst_row">
		  <div class="form-group inputtt ">
        <label for="class">Graduation Class Year</label>
       <input type="input" class="form-control" id="input_class_year" placeholder="2021" >
           </div>
		   <div class="form-group inputtt col-xl-4 col-lg-4 col-md-4">
        <label for="schoolname">School Name</label>
       <input type="input" class="form-control" id="input_schoolname" placeholder="Virginia Tech" >
           </div>
		   <div class="form-group inputtt ">
        <label for="city">City</label>
       <input type="input" class="form-control" id="input_city" placeholder="Blacksburg" >
           </div>
		   <div class="form-group inputtt ">
        <label for="state">State</label>
       <input type="input" class="form-control" id="input_state" placeholder="VA" >
           </div>
		   </div>
		   <div class="form-row fst_row">
		   <div class="form-group inputtt ">
        <label for="gpa">Current GPA</label>
       <input type="input" class="form-control" id="input_gpa" placeholder="00000" >
           </div>
		   <div class="form-group inputtt ">
        <label for="score">SAT Score</label>
       <input type="input" class="form-control" id="input_satscore" placeholder="00000000" >
           </div>
		   <div class="form-group inputtt ">
        <label for="score">ACT Score</label>
       <input type="input" class="form-control" id="input_actscore" placeholder="00000000" >
           </div>
		   <div class="form-group inputtt ">
        <label for="year">Year</label>
       <input type="number" class="form-control" id="input_year" placeholder="2021" >
           </div>
		   <div class="form-group inputtt col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <label for="awardname">Name Of The Honor Or Award </label>
      <input type="input" class="form-control last_in" id="input_awardname" placeholder="Name of the Honor or Award" >
           </div></div>
		   </div>
		   
		  <div class="top_space"> <h3 class="featured_photoss career_">Football Career Honors</h3></div>
		  <div class="form-row fst_row">
		   <div class="form-group  inputtt col-md-4">
        <label for="year">Year </label>
      <input type="input" class="form-control foot_ball" id="input_year" placeholder="2021" >
           </div>
		   <div class="form-group inputtt col-md-8">
        <label for="career">Football Career Honors </label>
      <input type="input" class="form-control honor" id="input_career" placeholder="Captain Honor" >
           </div>
		   </div>
		    <div class="add academic_plus"><i class="fas fa-plus"></i><span class="another_row">Add Another Row</span></div>
			
			<div class="top_space cover-pic"> <h3 class="featured_photoss ">Wonderlic (Practice) Test</h3>
			<p>Enter to <b>WWW.WONDERLICTESTPRACTICE.COM</b> and complete the test, UPLOAD your screen shot of your score below:</p>
			<img src="assets/img/cover-ACADEMICS.png" alt="">
			<span class="choose_file">Choose File</span><span class="no_file">No file chosen</span><br><span class="pdfss">(.pdf, .doc, .docx)
			<div class="academic_btn"><button class="appointment-btn scrollto" type="button">SAVE</button> </div>
			</div>
		  </form>
		 </div>
		</div>
		</div>
		</div>
		</section>
     



<!-- ===== End Blog --->







  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer_top">
    <div class="container ">
	 <div class="row">
	 <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12">
	 <img src="assets/img/logo-final-grey 2.png" alt="">
	 <div class="iconss">
	 <img src="assets/img/insta.png" alt="">
	 <img src="assets/img/twitterr.png" alt="">
	 <img src="assets/img/tiktokk.png" alt="">
	 <img src="assets/img/utube.png" alt="">
	 </div>
	 </div>
	 <div class="col-xl-6 col-lg-6 col-sm-12 col-xs-12">
	 </div>
	 <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12">
	 <button class="btn" type="button">free sign up</button>
	 </div>
	 </div>
	 <div class="row footer_menu">
	  <div class="black-bg">
	   <nav id="navbar" class="navbarr foot order-last order-lg-0" >
	    <ul>
		   <li><a class="nav-link scrollto " href="#home">Terms & Conditions</a></li>
          <li><a class="nav-link scrollto" href="#login">Privacy Policy</a></li>
          <li><a class="nav-link scrollto" href="#profiles">Memberships</a></li>
          <li><a class="nav-link scrollto" href="#magazines">Help</a></li>
          <li><a class="nav-link scrollto" href="#memberships">Contact</a></li>
          
	    </ul>
	   </nav>
	   </div>
	 </div>
	</div>
  </footer>
  <footer id="footer_bootom">

     <div class="container  footer_text">
	 <p>PRIVACY POLICY | ALL INFORMATION PROVIDED TO QUARTERBACK MAGAZINE IS PRIVATE AND CONFIDENTIAL.<br>
PERSONAL INFORMATION WILL NOT BE REDISTRIBUTED.<br>
© 2021 QUARTERBACK MAGAZINE. Designed and Developed by <span class="red">Suner and Garcia</span></p>
     </div>
	 
  </footer>
      
       

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>